---
import CheckmarkIcon from "@icons/checkmark-black.svg";
---

<section class="section-dark">
    <div class="container">
        <h2>What Sets Our Sydney Facilities Management Apart</h2>
        <p>
            Unlike larger firms that treat every property the same, we take a
            personalised approach to building management. We get to know your
            property, your tenants, and your unique challenges so we can deliver
            solutions that actually make a difference.
        </p>

        <div class="cards">
            <div class="card">
                <CheckmarkIcon class="icon" />
                <h3>Local expertise</h3>
                <p>
                    We know Sydney’s buildings, regulations, and contractors
                    inside out.
                </p>
            </div>

            <div class="card">
                <CheckmarkIcon class="icon" />
                <h3>End-to-end services</h3>
                <p>
                    From cleaning to CCTV installation, you don’t need multiple
                    providers.
                </p>
            </div>

            <div class="card">
                <CheckmarkIcon class="icon" />
                <h3>Commitment to quality</h3>
                <p>
                    We prioritise efficiency, safety, and presentation across
                    every site.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }

    @media (min-width: 768px) {
        .container {
            gap: 4rem;
        }
        h2 {
            text-align: center;
        }
        .card {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 2rem;
            text-align: left;
        }
        .icon {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
        .card h3 {
            grid-column: 2 / 3;
        }
        .card p {
            grid-column: 2 / 3;
        }
    }
    @media (min-width: 1024px) {
        .cards {
            gap: 6rem;
            width: fit-content;
            margin: 4rem auto;
        }
        .container > p {
            width: 680px;
            margin: 0px auto;
            text-align: center;
        }
    }
</style>
