---
import CheckmarkIcon from "@icons/checkmark-black.svg";
---

<section class="section-dark">
    <div class="container">
        <h2>What Sets Our Sydney Facilities Management Apart</h2>
        <p>
            Unlike larger firms that treat every property the same, we take a
            personalised approach to building management. We get to know your
            property, your tenants, and your unique challenges so we can deliver
            solutions that actually make a difference.
        </p>

        <div class="cards">
            <div class="card">
                <CheckmarkIcon />
                <h3>Local expertise</h3>
                <p>
                    We know Sydney’s buildings, regulations, and contractors
                    inside out.
                </p>
            </div>

            <div class="card">
                <CheckmarkIcon />
                <h3>End-to-end services</h3>
                <p>
                    From cleaning to CCTV installation, you don’t need multiple
                    providers.
                </p>
            </div>

            <div class="card">
                <CheckmarkIcon />
                <h3>Commitment to quality</h3>
                <p>
                    We prioritise efficiency, safety, and presentation across
                    every site.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 2rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }
</style>
